@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'beckan';
  src: url('./fonts/beckan/Beckan-Personal\ Use.otf') format('opentype');
}

body {
  font-family: 'beckan';
}