@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'beckan';
  src: url('./fonts/beckan/Beckan-Personal\ Use.otf') format('opentype');
}

@font-face {
  font-family: 'amaline';
  src: url('./fonts/amaline/Amaline\ Trial.otf') format('opentype');
}


h3 {
  font-family: 'beckan';
}

ul {
  font-family: 'amaline';
  font-size: 1rem;
}